[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/
Wants=network-online.target
After=network-online.target



[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecStart=/usr/local/bin/prometheus \
    --config.file={{ prometheus_config_dir }}/prometheus.yml \
    --storage.tsdb.path={{ prometheus_data_dir }} \
    --storage.tsdb.retention.time=30d \
    --web.console.templates={{ prometheus_config_dir }}/consoles \
    --web.console.libraries={{ prometheus_config_dir }}/console_libraries \
    --web.enable-lifecycle

SyslogIdentifier=prometheus
Restart=always
RestartSec=5s



NoNewPrivileges=true
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths={{ prometheus_data_dir }}



[Install]
WantedBy=multi-user.target
